<div class="row  services" >
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">

          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-cogs text-warning"></i>
            </div>
          </div>

          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-title">Support </p>
              <p>&amp;</p>
              <p>Monitoring</p>
            </div>
          </div>

        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="">
          <button mat-button class="clickable" [routerLink]="['/admin', 'smReport']"><span style="float: left">view report</span>  <span style="float: right" ><i class="fa fa-arrow-right" ></i></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">

          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-book text-warning"></i>
            </div>
          </div>

          <div class="col-7 col-md-8">
            <div class="numbers">
              <p>Training </p>
              <p>&amp;</p>
              <p>Activation</p>
            </div>
          </div>

        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="">
          <button mat-button  [routerLink]="['/admin','taReport' ]" class="clickable"><span style="float: left">view report</span>  <span style="float: right" ><i class="fa fa-arrow-right" ></i></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">

          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-users text-warning"></i>
            </div>
          </div>

          <div class="col-7 col-md-8">
            <div class="numbers">
              <p>Recruitments </p>
            </div>
          </div>

        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="">
          <button mat-button class="clickable" [routerLink]="['/admin' , 'rReport']"><span style="float: left">view report</span>  <span style="float: right" ><i class="fa fa-arrow-right" ></i></span></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title"></h5>
        <p class="card-category">24 Hours performance</p>
      </div>
      <div class="card-body ">
        <canvas id=chartHours width="400" height="100"></canvas>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <button mat-button>
          <i class="fa fa-history"></i> Update..
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
