<div class="mat-card" >
  <div class="loginBg" >
  </div>
  <div class="wrapping">
    <div class="form-container">
      <div style="padding: 20px 20px" >

        <form [formGroup]="loginForm" (ngSubmit)="check(loginForm.value)" >
          <h2>Login</h2>
          <mat-form-field appearance="outline" >
            <mat-label>name</mat-label>
              <input matInput placeholder="name" type="text" formControlName="name">
          </mat-form-field>


          <mat-form-field appearance="outline" id="passField">
            <mat-label>password</mat-label>
            <input matInput  type="password" formControlName="password">
          </mat-form-field>
          <button class="button" type="submit" [disabled]="!loginForm.valid">login</button>
        </form>

      </div>


    </div>
    <div class="form-group">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf=" check(loginForm.value) && isLoginFailed">
        Login failed: {{ errorMessage }}
      </div>
    </div>
  </div>

</div>

