<div class="mat-card" >
  <div class="loginBg" >
  </div>
  <div class="wrapping">
    <div class="form-container">
      <div style="padding: 20px 20px" >

        <form>
          <h2>Login</h2>
          <mat-form-field appearance="outline" >
            <mat-label>name</mat-label>
            <input matInput placeholder="name" type="text">
          </mat-form-field>

          <mat-form-field appearance="outline" id="passField">
            <mat-label>password</mat-label>
            <input matInput  type="password">
          </mat-form-field>
          <button class="button">login</button>
        </form>

      </div>


    </div>
  </div>

</div>

