mat-expansion-panel{
  width: 98%;
  margin-top: 7px;
}
.aex{
  //margin-top: 5px;
  border-color: gray;
  width: 100%;
  text-decoration: none;color: white;

}
.mat-expansion-panel-header-title:hover, .mat-expansion-panel-header-description:hover {
  color: #ef8157!important;
}
mat-expansion-panel-header{
  font-size: 12px;
}
#i{
  color: gray;

}
ul{
  list-style-type: none!important;
  padding-inline-start: 0!important;
}

