
<div class="sidebar-wrapper">
  <div class="logo">
    <a  class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/images/equity-bank-logo.png">
      </div>
    </a>
    <a class="simple-text logo-normal">
      EQUITY
    </a>
  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a [routerLink]="[menuItem.path]">
        <i class="nc-icon {{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
    <li >

      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="pl-3">
              logs
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="display: flex;flex-direction: column; align-items: baseline">
          <a> log1</a>
          <a> log2</a>
          <a> log3</a>
          <a> log4</a>
          <a> log5</a>
          </div>
        </mat-expansion-panel>

      </mat-accordion>
    </li>
  </ul>
</div>
