
<div class="sidebar-wrapper">
  <div class="logo">
    <a  class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/images/equity-bank-logo.png">
      </div>
    </a>
    <a class="simple-text logo-normal">
      EQUITY
    </a>
  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a [routerLink]="[menuItem.path]">
        <i class="nc-icon {{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
    <li >
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title   style="align-items: flex-start;color: grey;display: flex;justify-content: flex-start">
              <i id="i" class="nc-icon nc-single-copy-04"></i> REPORT LIST
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="display: flex;flex-direction: column;  "  class="pl-5">

              <a  class="aex" [routerLink]="[ '/admin', 'smReport']" routerLinkActive="active" >System & Monitoring </a>

            <mat-divider ></mat-divider>
              <a class="aex" [routerLink]="[ '/admin', 'taReport']"> Training & Activation</a>

            <mat-divider></mat-divider>

              <a class="aex"  [routerLink]="[ '/admin', 'rReport']"> Recruitments</a>

            <mat-divider></mat-divider>

              <a class="aex"> log4</a>

            <mat-divider></mat-divider>

              <a class="aex"> log5</a>
          </div>
        </mat-expansion-panel>

      </mat-accordion>
    </li>
  </ul>
</div>
