
<div class="sidebar-wrapper">
  <div class="logo">
    <a  class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/images/equity-bank-logo.png">
      </div>
    </a>
    <a class="simple-text logo-normal">
      EQUITY
    </a>
  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a [routerLink]="[menuItem.path]">
        <i class="nc-icon {{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
    <li  >
      <mat-accordion class="nav">
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title   style="align-items: flex-start;color: grey;display: flex;justify-content: flex-start">
              <i id="i" class="nc-icon nc-single-copy-04"></i> REPORT LIST
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul style="display: flex;flex-direction: column;"  class="bg-custom">

             <li  routerLinkActive="active">
               <a   [routerLink]="[ '/admin', 'smReport']"  >SUPPORT & MONITORING </a>
             </li>
            <mat-divider ></mat-divider>
            <li  routerLinkActive="active">
              <a class="aex " [routerLink]="[ '/admin', 'taReport']" > TRAINING </a>
            </li>
            <mat-divider></mat-divider>
            <li  routerLinkActive="active">
              <a class="aex"  [routerLink]="[ '/admin', 'rReport']"  > RECRUITMENTS</a>
            </li>
            <mat-divider></mat-divider>
            <li  routerLinkActive="active">
              <a class="aex"  [routerLink]="[ '/admin', 'accReport']"  > ACCOUNT ACTIVATION</a>
            </li>
            <mat-divider></mat-divider>
            <li  routerLinkActive="active">
              <a class="aex"  [routerLink]="[ '/admin', 'accOpening']"  > ACCOUNT OPENING</a>
            </li>
          </ul>
        </mat-expansion-panel>

      </mat-accordion>
    </li>
  </ul>
</div>
