mat-expansion-panel{
  width: 98%;
  margin-top: 7px;
}
.aex{
  margin-top: 5px;
  border-color: gray;
  width: 100%;
}
.mat-expansion-panel-header-title:hover, .mat-expansion-panel-header-description:hover {
  color: #ef8157!important;
}
mat-expansion-panel-header{
  font-size: 12px;
}
#i{
  color: gray;

}

