table{
  width: 100%;
  table-layout: fixed;
}
.containerSm{
  height: 100%;
  max-width: 100%;
  overflow: auto;
}


.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
  padding: 20px;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;padding: 20px;
}
th.mat-column-position, td.mat-column-position {
  padding: 18px;
}

th, td {
  overflow: hidden;
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.editItem{
  color: #1DC7EA;
}
.deleteItem{
  color: red;
}
.mat-progress-spinner{
  left: 50vh;
  margin: 15px;
}
