<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div  >
          <mat-form-field appearance="fill">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
          </mat-form-field>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol"  >
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>


<!--             action column -->
            <ng-container matColumnDef="action"  >
              <th style="padding-left: 15vw" mat-header-cell *matHeaderCellDef  > Actions </th>
              <mat-cell *matCellDef="let row" >

                <td class="row" cdk-cell style="display: flex; justify-content: space-evenly"  >
                  <button mat-button (click)="openDetails(row)" >View</button>
                  <button mat-button  (click)="openEdit(row)">Edit</button>
                  <button mat-button  (click)="Delete(row)">Delete</button>
                </td>
              </mat-cell>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>

          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>

</div>






